div{
    width: 700px;
}
table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
        transform: translateY(-10px);
    }

    80% {
        transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
th {
    cursor: pointer;
}
th:hover {
    animation: bounce 1s;
}

