* {
    margin: 0 auto;
}
#mainDiv {
    border: 2px solid blue;
    width: 750px;
    height: 650px;
    background-color: aqua;
    position: relative;
}
.menuBlock {
    float: left;
    background-color: snow;
    width: 60%;
    height: 80%;
    margin: 10px;
    overflow-x:hidden;
    overflow-y: auto ;
    border-radius: 5px;
}
.headers {
    background-color: snow;
    float: left;
    width: 20%;
    margin: 1px 10px;
    padding: 1px;
    text-align: left;
    font-size:20px;
    border-bottom: 1px black;
}
.checkBlock {
    background-color: snow;
    float: left;
    width: 31%;
    height: 450px;
    margin: 25px 10px;
    position: relative;
    border-radius: 5px;
}

ul {
    clear:both;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}
li {
    all: unset;
    list-style: none;
    display: inline-block;
    width: 50%;
    float: left;
}
#buttons li a {
    background-color: snow;
    display: block;
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px 10px;
    height: 30px;
    line-height: 1.1;
}

li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #33B5E5;
}
#checkList li {
    all:unset;
    height: auto;
    list-style: none;
    width: 100%;
    height: 80%;
}
#checkNumb,#menuNumb {
    float: left;
    width: 25%;
}
.buttons {
    margin-top: 80px;
    margin-left: 15%;
    float: left;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    line-height: 4;
    text-align: center;
    border-radius: 5px;
    width: 30%;
    height: 15%;
}
.bottomButtonsl{
    background-color: snow;
    margin-right: 5%;
}
.bottomButtonsr{
    background: lightgreen;
    margin-left: 5%;
}
#checkList {
    overflow-x:hidden;
    overflow-y: auto ;
    background-color: snow;
    height: 78.5%;
    border-radius: 5px;
}
#checkList li a {
    background-color: snow;
    display: block;
    color: black;
    text-align: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 7px 20px;
    height: 35px;
    line-height: 1.0;
}
#summary{
    text-align: center;
    background-color: orange;
    line-height: 4;
    height: 15%;
    width: 98.5%;
    position:absolute;
    left: 0;
    bottom: 0;
    border: 2px solid black;
    border-radius: 5px;
}

#NewsTicker {
    height: 300px;
    width: 300px;
    background-color: green;
    color: black;
}

.productName:after {
    display:inline-block;
    position:absolute;
}

.productName{
    display:block;
    height:auto;
    position:relative;
    left: 0px;
    width:110px;
    float: left;
}
.productPrice {
    width: 60px;
    height: 30px;
    float: left;
}
#userLogin {
    padding-left: 50px;
    padding-top: 10px;
    text-align:left;
}
#singout{
    position:absolute;
    right: 25px;
    top: 10px;
}



/* Стили для неактивного модального окна */
.modal {
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    width: 300px;
    border-radius: 6px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: relative;
}

.modal h2 { margin-top: 0; }

.modal .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #777;
}

.modal .close:hover { opacity: 1; }

.modal .content {
    max-height: 400px;
    overflow: auto;
        margin:0 auto;
}

.modal p {
    margin: 0 0 1em;
    text-align: center;
}

.modal p:last-child { margin: 0; }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}

.overlay .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}
 .btn {
     background-color: #4CAF50; /* Green */
     border: none;
     color: white;
     padding: 10px 22px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 14px;
     float: left;
     margin-left: 12%;
     border-radius: 3px;
}

