
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>

<head>
    <title>Кафешка</title>
    <link rel="stylesheet" href="/css/mycss.css"></link>
</head>
<body>

<div id="mainDiv">
    <form th:action="@{/logout}" method="post" id="singout">
        <input type="submit" value="Sign Out"/>
    </form>
    <div id="userName"></div>
    <div class="checkBlock">
        <div class="headers"> Чек </div>
        <div id="checkNumb" class="headers"></div>
        <ul id="checkList"></ul>
        <div id="summary"> Сума: </div>

        <a class="buttons bottomButtonsl" >Local</a>
        <a class="buttons bottomButtonsr" href="#payModal">Pay</a>
    <div>

        <form th:action="@{/list}" method="get"
              style="float: left; margin-top: 15px" />
            <input type="submit" value="Get all orders">
        </form>

    </div>
</div>


    <div class="menuBlock">
        <div class="headers">Меню</div>
        <div id="menuNumb" class="headers"></div>
        <ul id="buttons" >
        </ul>
    </div>


    <div id="payModal" class="overlay">
        <div class="modal">
            <div class="content">
                <p>Натисніть на кнопку "Оплата" для підтвердження</p>
                <button class="pay btn"> Оплата </button>
                <a class="btn" style="background-color: red" href="#"> Скасувати </a>
            </div>
        </div>
    </div>

    <div id="deleteModal" class="overlay">
        <div class="modal">
            <div class="content">
                <p>Для видалення</p>
                <a class='btn close-modal '  href="#">Відміна</a>
                <a class='btn close-modal' id="delete" style="background-color: red" href="#">Видалити</a>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript"﻿ src="/js/jquery.js"></script>
<script type="text/javascript"﻿ src="/js/database.js"></script>

</body>
</html>
